{% extends 'web/widget.html' %}
{% load static %}
{% load utils %}


{% block name %}
    Podrobnosti
{% endblock %}


{% block content %}
    <div class="actual-game-box">
        <div class="actual-game-title">TYP HRY</div>
        <div class="actual-game-data" id="actual-game-type">-</div>
    </div>

    <div class="actual-game-box">
        <div class="actual-game-title">POČET HRÁČŮ</div>
        <div class="actual-game-data" id="actual-players">-</div>
    </div>

    <div class="actual-game-box">
        <div class="actual-game-title">DÉLKA HRY</div>
        <div class="actual-game-data" id="actual-start-time">-</div>
    </div>

    <div class="actual-game-box">
        <div class="actual-game-title">ZAČÁTEK HRY</div>
        <div class="actual-game-data" id="actual-time-to-end">-</div>
    </div>
{% endblock %}


{% block button %}
{% endblock %}
