@font-face {
    font-family: "Roboto";
    src: url("/static/web/font/Roboto-Light.ttf");
    font-style: normal;
    font-weight: 200;
}

@font-face {
    font-family: "Roboto";
    src: url("/static/web/font/Roboto-LightItalic.ttf");
    font-style: italic;
    font-weight: 200;
}

@font-face {
    font-family: "Roboto";
    src: url("/static/web/font/Roboto-Regular.ttf");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Roboto";
    src: url("/static/web/font/Roboto-Italic.ttf");
    font-style: italic;
    font-weight: 400;
}

@font-face {
    font-family: "Roboto";
    src: url("/static/web/font/Roboto-Bold.ttf");
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: "Roboto";
    src: url("/static/web/font/Roboto-BoldItalic.ttf");
    font-style: italic;
    font-weight: 700;
}
