{% extends 'web/widget.html' %}
{% load static %}
{% load utils %}


{% block name %}
    Nastavení hráčů
{% endblock %}


{% block content %}
    <table>
        {% for i in MAX_PLAYERS|range %}
            <tr>
                <td align="right" class="number">{{ forloop.counter }}</td>
                <td align="center" style="width: 3em;">
                    <button class="player-erb" id="player-erb-{{ forloop.counter }}"></button>
                </td>
                <td align="center"><input type="text" class="player-name" id="player-name-{{ forloop.counter }}" value="Player{{ forloop.counter }}"></td>
                <td align="right"><span class="number" id="player-bat-{{ forloop.counter }}">100%</span></td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}


{% block button %}
    <input type="button" value="VYČISTIT" id="clear"></input>
    <input type="button" value="ZAPNOUT VŠE" id="turn-vests"></input>
{% endblock %}
