{% load static %}
{% load utils %}

<!DOCTYPE html>
<html lang="cs-CZ">
<head>
    {% include 'web/header.html' %}
    {% block inc %}
    {% endblock %}
    <script>
        $(document).ready(function () {
            MenuActiveUnderline('#{% block menu %}{% endblock %}');
        });
    </script>
</head>
<body>
{% block body %}
    <div class="packaging">
        {% include 'web/menu.html' %}
        <div class="row">
            <div class="col-1">
                    {% block col-1 %}
                    {% endblock %}
                </div>
            <div class="col-2">
                    {% block col-2 %}
                    {% endblock %}
                </div>
            <div class="col-3">
                    {% block col-3 %}
                    {% endblock %}
                </div>
            <div class="col-4">
                    {% block col-4 %}
                    {% endblock %}
                </div>
        </div>
    </div>
{% endblock body %}
</body>
</html>
