{% load static %}

<title>LGM</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="author" content="wykys - Jan Vykydal">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{% static 'web/css/page.css' %}">
<link rel="stylesheet" href="{% static 'web/css/menu.css' %}">
<link rel="stylesheet" href="{% static 'web/css/gui.css' %}">
<link rel="stylesheet" href="{% static 'web/css/font.css' %}">
<link rel="shortcut icon" href="{% static 'web/img/favico.png' %}">

<script type="text/javascript" src="{% static 'web/js/jquery-3.1.1.min.js' %}"></script>
<script type="text/javascript" src="{% static 'web/js/default.js' %}"></script>
<script type="text/javascript" src="{% static 'web/js/init_var.js' %}"></script>
<script type="text/javascript" src="{% static 'web/js/menu.js' %}"></script>
<script type="text/javascript" src="{% static 'web/js/gui.js' %}"></script>

<script>
    GetDefault();
    $(document).ready(function () {
        // widgets toggle
        $(".widget h1").click(function () {
            $(this).parents(".widget").children(".widget-pack").toggle(500);
        });
        // subwidgets toggle
        $(".widget-sub h2").click(function () {
            $(this).parents(".widget-sub").children(".widget-sub").toggle(500);
        });
    });
</script>
