{% load static %}
{% load utils %}
{% load i18n %}


<nav>
    <ul class="MainMenu">
        <li class="Menu"><a><img src="{% static 'web/img/lop.svg' %}">&nbsp;&nbsp;Menu</a>
        <li>
            <a id="settings" href="{% url 'web:settings' %}">
                <img src="{% static 'web/img/settings.svg' %}">
                {% trans "Game settings" %}
            </a>
        </li>
        <li>
            <a id="stream" href="/stream">
                <img src="{% static 'web/img/live.svg' %}">
                Probíhající hra
            </a>
        </li>
        <li>
            <a id="archive" href="/archive">
                <img src="{% static 'web/img/archive.svg' %}">
                Archiv
            </a>
        </li>
        <li>
            <a id="administrace" href="/admin">
                <img src="{% static 'web/img/settings.svg' %}">
                Administrace
            </a>
        </li>
    </ul>
</nav>
