{% load static %}
{% load utils %}

<nav>
    <ul class="MainMenu">
        <li class="Menu"><a><img src="{% static 'web/img/lop.svg' %}">&nbsp;&nbsp;Menu</a>
        <li><a id="settings" href="/settings"><img src="{% static 'web/img/settings.svg' %}">&nbsp;&nbsp;Nastavení hry</a>
        <li><a id="stream" href="/stream"><img src="{% static 'web/img/live.svg' %}">&nbsp;&nbsp;Probíhající hra</a>
        <li><a id="archive" href="/archive"><img src="{% static 'web/img/archive.svg' %}">&nbsp;&nbsp;Archiv</a>
        <li><a id="administrace" href="/admin"><img src="{% static 'web/img/settings.svg' %}">&nbsp;&nbsp;Administrace</a>
    </ul>
</nav>
