{% load static %}
{% load utils %}
{% load i18n %}


<nav>
    <ul class="MainMenu">
        <li class="Menu"><a><img src="{% static 'web/img/lop.svg' %}">Menu</a>
        <li>
            <a id="settings" href="{% url 'web:settings' %}">
                <img src="{% static 'web/img/settings.svg' %}">
                {% trans 'Game settings' %}
            </a>
        </li>
        <li>
            <a id="stream" href="{% url 'web:stream' %}">
                <img src="{% static 'web/img/live.svg' %}">
                {% trans 'Stream' %}
            </a>
        </li>
        <li>
            <a id="archive" href="{% url 'web:archive' %}">
                <img src="{% static 'web/img/archive.svg' %}">
                {% trans 'Archive' %}
            </a>
        </li>
        <li>
            <a id="administrace" href="{% url 'admin:index' %}">
                <img src="{% static 'web/img/settings.svg' %}">
                {% trans 'Administration' %}
            </a>
        </li>
    </ul>
</nav>
