<div class="widget">
    <h1>Aktuální hra</h1>
    <div class="widget-pack" style="text-align: center;">
        <div class="actual-game-box">
            <div class="actual-game-title">TYP HRY</div>
            <div class="actual-game-data" id="actual-game-type">-</div>
        </div>

        <div class="actual-game-box">
            <div class="actual-game-title">POČET HRÁČŮ</div>
            <div class="actual-game-data" id="actual-players">-</div>
        </div>

        <div class="actual-game-box">
            <div class="actual-game-title">ČAS ZAČÁTKU HRY</div>
            <div class="actual-game-data" id="actual-start-time">-</div>
        </div>

        <div class="actual-game-box">
            <div class="actual-game-title">ČAS DO KONCE HRY</div>
            <div class="actual-game-data" id="actual-time-to-end">-</div>
        </div>

    </div>
</div>
